Cython
librosa==0.9.1
matplotlib
numpy
scipy
tensorboard
torch==2.5.0
torchvision==0.20.0
torchaudio==2.5.0
-f https://download.pytorch.org/whl/cu121
unidecode
protobuf
tqdm
vinorm
underthesea
eng_to_ipa
vietnam-number
librosa
viphoneme
ipython

# six pyparsing